* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(94, 226, 94);
}
#add-blog {
  margin-top: 10px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#blog-list {
  width: 100%;
  height: 600px;
  background: rgb(197, 254, 197);
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.modal {
  display: none;
  width: 400px;
  height: 500px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fff;
  margin: 50px auto;
  padding: 1rem;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: red;
  font-size: 30px;
  cursor: pointer;
}
/* Style for the form elements */
.modal-content h2,
.modal-content label,
.modal-content input,
.modal-content textarea {
  display: block;
  margin-bottom: 0.5rem;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  background-color: #009688;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #007c70;
}

.blog-post img {
  width: 200px;
  height: 200px;
}
.blog-post {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  background: red;
}
