@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .from-control {
  @apply !w-full py-6 !text-base;
}

.otp-container {
  @apply flex justify-between gap-2;
}

.otp-container input {
  @apply !mr-0 flex-1 py-5 outline-none;
}
